.app__aboutus {
	@apply relative;

	&-overlay {
		@apply absolute inset-0;

		& img {
			@apply w-4/5 md:w-[391px] h-[320px] md:h-[415px] z-0;
		}
	}

	&-content {
		z-index: 3;
		@apply flex-col lg:flex-row;

		&_about {
			flex: 1;
			@apply flex justify-end items-end flex-col text-right;
		}

		&_knife {
			@apply mx-0 lg:mx-16 my-16 lg:my-8;

			& img {
				@apply h-[910px] z-[2] flex;
			}
		}

		&_history {
			flex: 1;
			@apply flex justify-start items-start flex-col text-left;
		}

		&_history p,
		&_about p {
			@apply my-16 lg:my-8 text-colorGrey;
		}
	}
}
